<p style="color: green"><%= notice %></p>

<h1>Videos</h1>

<h2>video-js mp4</h2>
<video class="video-js" data-setup={} controls playsinline>
  <source src="/uploads/hls_test/cat1.mp4" type="video/mp4">
</video>

<h2>video-js m3u8</h2>
<video class="video-js" data-setup={} controls playsinline>
  <source src="/uploads/hls_test/art1.m3u8" type="application/x-mpegURL">
</video>

<div id="videos">
  <% @videos.each do |video| %>
    <%= render video %>
    <p>
      <%= link_to "Show this video", video %>
    </p>
  <% end %>
</div>

<%= link_to "New video", new_video_path %>
